.header {
  padding: 1rem;
}

.form-container {
  width: 40rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-container__button {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .form-container {
    width: 20rem;
  }
}
